/* styles.css */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    margin: o auto;
    padding:30px 20px 30px 30px;
}

.formPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

h2 {
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn1 {
    background-color: #1a71b7;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    
}
.btn2{
   border: none;
   padding: 10px;
   background-color: #fff;
   position: relative; left: -15em;
   
}
.btn2 i{
    font-size: 25px;
    font-weight: bolder;
    
}

#result {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#page3 {
    display: none;
}

#page3 h2 {
    margin-bottom: 20px;
}

#page3 p {
    margin-top: 10px;
}

#page3 span {
    font-weight: bold;
}

#page3 {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}